<section class="app-comp">
  <div class="module-box">
    <div>
      <h3 class="module-box-h3"># Components</h3>
      <p class="module-box-p">
        Build your UI effortlessly with pre-styled components like accordions,
        buttons, dropdowns, and more. Simply copy the provided HTML and, for
        components with functionality like dropdowns, include the accompanying
        TypeScript files.
      </p>
    </div>
    <div>
      <h3 class="module-box-h3"># Variables</h3>
      <app-comps-code [showCode]="'scss-variables'"></app-comps-code>
    </div>
  </div>
</section>
