<div class="card-1">
  <div class="content">
    <code>
      <span class="code-title"
        ><span class="material-symbols-outlined"> light_mode </span> Light
        Mode</span
      >
      :root &#123;<br />
      <p class="def-txt">
        &nbsp;--primary: #ff0000;
        <span class="material-symbols-outlined"> keyboard_backspace </span>
        <span> Base Colour </span>
      </p>
      <p class="def-txt">
        &nbsp;--secondary: #fafafa;
        <span class="material-symbols-outlined"> keyboard_backspace </span>
        <span> Base Colour </span>
      </p>
      <p class="def-txt">
        &nbsp;--btn-clr: #ff0000;
        <span class="material-symbols-outlined"> keyboard_backspace </span>
        <span> Button Colour </span>
      </p>
      <p class="def-txt">
        &nbsp;--btn-txt:: #fafafa;
        <span class="material-symbols-outlined"> keyboard_backspace </span>
        <span> Font Colour </span>
      </p>
      &#125;
    </code>
    <code class="dark-code">
      <span class="code-title"
        ><span class="material-symbols-outlined"> nights_stay </span> Dark
        Mode</span
      >
      :root &#123;<br />
      <p class="def-txt">
        &nbsp;--primary: #ff0000;
        <span class="material-symbols-outlined"> keyboard_backspace </span>
        <span> Base Colour </span>
      </p>
      <p class="def-txt">
        &nbsp;--secondary: #fafafa;
        <span class="material-symbols-outlined"> keyboard_backspace </span>
        <span> Base Colour </span>
      </p>
      <p class="def-txt">
        &nbsp;--btn-clr: #ff0000;
        <span class="material-symbols-outlined"> keyboard_backspace </span>
        <span> Button Colour </span>
      </p>
      <p class="def-txt">
        &nbsp;--btn-txt:: #fafafa;
        <span class="material-symbols-outlined"> keyboard_backspace </span>
        <span> Font Colour </span>
      </p>
      &#125;
    </code>
  </div>
</div>
