:root {
  --theme-colour: rgb(255, 226, 102);
  --sub-theme-colour: #433dc3;
  --app-mode-clr: #0d1116;
  --font-colour: #f0f6fc;
  --font-dim-colour: #9198a1;

  // Mesh Background
  --dark-glass: rgba(0, 0, 0, 0.263);
  --dark-border: rgba(255, 255, 255, 0.097);
  --code-snippet: rgba(0, 0, 0, 0.199);
  --active-nav: rgba(255, 255, 255, 0.088);

  // Code Snippet
  --code-snippet: #0d1116 !important;
  --code-snippet-bdr: #3d444d !important;

  // Module Nav
  --module-nav-clr: #02040a;
  --module-nav-txt: #ffffff;
  --module-nav-dim-txt: #a89d96;
  --module-nav-active-txt: #ffffff;
  --module-nav-bdr: #3d444d;
}

// Layer Colour
$layerClr01: rgba(170, 170, 170, 0.08);
$layerClr02: rgba(0, 0, 0, 0.1);
$layerClr03: rgba(255, 255, 255, 0.097);
