:root {
  --theme-colour: #ffe266;
  --sub-theme-colour: #433dc3;
  --font-colour: #cccccc;
  --dark-glass: rgba(0, 0, 0, 0.263);
  --dark-border: rgba(255, 255, 255, 0.097);
  --app-mode-clr: #191a1f;
}

// Layer Colour
$layerClr01: rgba(255, 255, 255, 0.06);
$layerClr02: rgba(0, 0, 0, 0.1);
$layerClr03: rgba(255, 255, 255, 0.097);
