<div class="card-2">
  <div class="content">
    <input type="text" placeholder="Search" disabled />
    <p><span class="material-symbols-outlined"> ads_click </span> Button</p>
    <p><span class="material-symbols-outlined"> table_view </span> Table</p>
    <p><span class="material-symbols-outlined"> tab_group </span> Tabs</p>
    <p><span class="material-symbols-outlined"> variable_add </span> Chips</p>
    <p>
      <span class="material-symbols-outlined"> ballot </span>
      Dropdown
    </p>
  </div>
</div>
