<section id="component-container">
  <header id="component-header">
    <h2>Ready-Made UI Blocks</h2>
    <p>Quick, clean, and crafted — just plug 'em in!</p>
  </header>

  <div id="component-list">
    <a (click)="redirectTo('Components/Component_Accordion')">Accordion</a>
    <a (click)="redirectTo('Components/Component_Button')">Button</a>
    <a (click)="redirectTo('Components/Component_Card')">Card</a>
    <a (click)="redirectTo('Components/Component_Dropdown')">Dropdown</a>
    <a (click)="redirectTo('Components/Component_Input')">Input</a>
    <a (click)="redirectTo('Components/Component_Menubar')">Menubar</a>
    <a (click)="redirectTo('Components/Component_Nav')">Nav</a>
    <a (click)="redirectTo('Components/Component_Table')">Table</a>
    <a (click)="redirectTo('Components/Component_Tab')">Tab</a>
  </div>
</section>
