<section class="app-comp">
  <h2 class="comp-title">Accordion</h2>

  <section class="grid-02">
    <div class="app-card">
      <div class="card-header">
        <h3>Regular</h3>
      </div>
      <div class="card-body">
        <div class="accordion-grup">
          <div class="accordion-main acc-reg" id="accordion01">
            <div class="acc-head-static acc-head">
              <div class="acc-title">
                <h2>Introduction</h2>
              </div>
              <span class="material-symbols-outlined state-arrow">
                arrow_drop_down
              </span>
            </div>
            <div class="acc-body">
              <div class="acc-content">
                <p>
                  Welcome to the Accordion UI! This component allows you to
                  display sections of content that can be expanded and
                  collapsed. Use the arrow icon or click the headers to toggle
                  between showing and hiding content.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-code">
        <app-comps-code [showCode]="'accordion-01'"></app-comps-code>
      </div>
    </div>
  </section>
</section>
