<section class="app-comp">
  <section class="grid-02">
    <div class="app-card">
      <div class="card-header">
        <h3>Regular</h3>
      </div>
      <div class="card-body">
        <div
          [class]="
            themeClr === 'dark-mode'
              ? 'accordion-grup cf-dark-mode'
              : 'accordion-grup'
          "
        >
          <div class="accordion-main acc-reg" id="accordion01">
            <div class="acc-head-static acc-head">
              <div class="acc-title">
                <h2>
                  <mat-icon class="btn-icon">pan_tool</mat-icon> Introduction
                </h2>
              </div>
              <mat-icon class="state-arrow">keyboard_arrow_down</mat-icon>
            </div>
            <div class="acc-body">
              <div class="acc-content">
                <p>
                  Welcome to the Accordion UI! This component allows you to
                  display sections of content that can be expanded and
                  collapsed. Use the arrow icon or click the headers to toggle
                  between showing and hiding content.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-code">
        <app-comps-code [showCode]="'accordion-01'"></app-comps-code>
      </div>
    </div>
  </section>
</section>
