<div class="card-3">
  <div class="content">
    <header>
      <p>Terminal</p>
      <div class="dots">
        <p class="dot dot-01"></p>
        <p class="dot dot-02"></p>
        <p class="dot dot-03"></p>
      </div>
    </header>
    <div class="terminal">
      <p>user&#64;machine:~$ ls</p>
      <p>Documents Downloads Music Pictures Videos</p>
      <p>user&#64;machine:~$ cd Documents</p>
      <p>user&#64;machine:~/Documents$ touch file.txt</p>
      <p>user&#64;machine:~/Documents$ echo "Hello, World!" > file.txt</p>
      <p>user&#64;machine:~/Documents$ cat file.txt</p>
      <p>/home/user</p>
      <p>npm i &#64;dev.spot/css-fusion</p>
      <p class="loader-title">Initializing Package 40%</p>
      <p class="loader-bars">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span class="loading"></span>
        <span class="loading"></span>
        <span class="loading"></span>
        <span class="loading"></span>
        <span class="loading"></span>
        <span class="loading"></span>
        <span class="loading"></span>
        <span class="loading"></span>
        <span class="loading"></span>
        <span class="loading"></span>
        <span class="loading"></span>
        <span class="loading"></span>
        <span class="loading"></span>
      </p>
    </div>
  </div>
</div>
