<section id="component-container">
  <nav id="component-nav">
    <div class="component-nav-list">
      <a
        routerLink="Component_Accordion"
        routerLinkActive="component-nav-active"
      >
        Accordion
      </a>
      <a routerLink="Component_Button" routerLinkActive="component-nav-active">
        Button
      </a>
      <a routerLink="Component_Card" routerLinkActive="component-nav-active">
        Card
      </a>
      <a
        routerLink="Component_Dropdown"
        routerLinkActive="component-nav-active"
      >
        Dropdown
      </a>
      <a routerLink="Component_Input" routerLinkActive="component-nav-active">
        Input
      </a>
      <a routerLink="Component_Menubar" routerLinkActive="component-nav-active">
        Menubar
      </a>
      <a routerLink="Component_Nav" routerLinkActive="component-nav-active">
        Nav
      </a>
      <a routerLink="Component_Table" routerLinkActive="component-nav-active">
        Table
      </a>
      <a routerLink="Component_Tab" routerLinkActive="component-nav-active">
        Tab
      </a>
      <a
        routerLink="Component_Variables"
        routerLinkActive="component-nav-active"
      >
        Variables
      </a>
    </div>
  </nav>

  <div>
    <router-outlet></router-outlet>
  </div>
</section>
