<main class="app-main">
  <section class="app-desc">
    <header>
      <p>
        <span class="material-symbols-outlined"> join_right </span>
        CSSFusion
      </p>
    </header>
    <div class="app-desc-content">
      <div class="app-desc-box">
        <span class="material-symbols-outlined desc-icon">
          {{ storeDesc.icon }}
        </span>
        <h2 [innerHTML]="sanitizeHtml(storeDesc.title)"></h2>
      </div>
      <p>{{ storeDesc.desc }}</p>
      <a
        *ngIf="storeDesc.routeTo != ''"
        (click)="openPopup(storeDesc.routeTo)"
        (click)="showLoadEffectFn(storeDesc.routeTo)"
      >
        {{ storeDesc.btn }}
        <span class="material-symbols-outlined"> trending_up </span>
      </a>
    </div>
  </section>

  <section class="app-content">
    <div class="app-content-tabs">
      <mat-tab-group (selectedTabChange)="onTabChange($event)">
        <mat-tab>
          <ng-template mat-tab-label>
            <span>Templates</span>
          </ng-template>
          <ul>
            <ng-container *ngFor="let data of templateData">
              <li
                *ngIf="data.routeTo !== ''"
                (click)="showDesc(data)"
                [ngClass]="storeDesc.title == data.title ? 'active-list' : ''"
              >
                <span class="material-symbols-outlined"> {{ data.icon }} </span>
                <span
                  [innerHTML]="sanitizeHtml(data.title)"
                  class="tab-content-titles"
                >
                  {{ data.title }}
                </span>
              </li>
            </ng-container>
          </ul>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span>Components</span>
          </ng-template>
          <ul>
            <ng-container *ngFor="let data of componentsData">
              <li
                *ngIf="data.routeTo !== ''"
                (click)="showDesc(data)"
                [ngClass]="storeDesc.title == data.title ? 'active-list' : ''"
              >
                <span class="material-symbols-outlined"> {{ data.icon }} </span>
                <span>{{ data.title }}</span>
              </li>
            </ng-container>
          </ul>
        </mat-tab>
      </mat-tab-group>
    </div>
  </section>
</main>

<dialog #popupDialog id="popupDialog">
  <button (click)="closePopup()" class="dialog-close-btn">
    <span class="material-symbols-outlined"> close </span>
  </button>
  <div class="router-outlet">
    <router-outlet></router-outlet>
  </div>
</dialog>

<!-- <div class="load-effect" [ngClass]="showLoadEffect ? 'start-load' : ''"></div> -->
