<main id="app">
  <nav id="app-nav">
    <div id="app-logo">
      <span class="material-symbols-outlined"> join_right </span>
      <p>CSSFusion</p>
    </div>
    <div id="app-links">
      <a routerLink="HomeRoute" routerLinkActive="link-active">Home</a>
      <a routerLink="CompsRouting" routerLinkActive="link-active">Components</a>
      <a routerLink="TempsRouting" routerLinkActive="link-active">Templates</a>
      <a routerLink="CustomizerRouting" routerLinkActive="link-active">
        Customizer
      </a>
    </div>
    <div id="app-btns">
      <a href="https://github.com/Sids-projects/CSSFusion" target="_blank">
        <img src="./assets/github-icon.svg" alt="Github Logo" />
      </a>
      <a routerLink="AboutRoute">
        <span class="material-symbols-outlined"> error </span>
      </a>
      <span class="material-symbols-outlined more-icon">
        expand_circle_down
      </span>
    </div>
  </nav>
  <section id="app-content">
    <router-outlet></router-outlet>
  </section>
</main>
