<main
  id="app"
  [ngStyle]="{
    'grid-template-rows': showNav ? '7.4rem 1fr' : '1fr',
    overflow: currentComp !== 'HomeRoute' ? 'hidden' : 'auto',
    
  }"
>
  <nav id="app-nav" *ngIf="showNav">
    <div id="app-logo">
      <span class="material-symbols-outlined"> join_right </span>
      <p>CSSFusion</p>
    </div>
    <div id="app-links">
      <a routerLink="HomeRoute" routerLinkActive="link-active">Home</a>
      <a routerLink="CompsRouting" routerLinkActive="link-active">Components</a>
      <a routerLink="TempsRouting" routerLinkActive="link-active">Templates</a>
      <a routerLink="CustomizerRouting" routerLinkActive="link-active">
        Customizer
      </a>
    </div>
    <div id="app-btns">
      <span class="material-symbols-outlined more-icon">
        expand_circle_down
      </span>
      <a href="https://github.com/Sids-projects/CSSFusion" target="_blank">
        <span class="material-symbols-outlined"> package_2 </span>
      </a>
      <a routerLink="AboutRoute">
        <span class="material-symbols-outlined"> error </span>
      </a>
      <span
        class="material-symbols-outlined colour-mode"
        (click)="toggleTheme()"
      >
        brightness_6
      </span>
    </div>
  </nav>
  <section id="app-content">
    <router-outlet></router-outlet>
  </section>
</main>
