<div *ngIf="showCode === 'accordion-01'">
  <div class="code-box">
    <button class="code-copy" matTooltip="copy" (click)="copyCode(accordion01)">
      <span class="material-symbols-outlined"> file_copy </span>
    </button>
    <pre class="line-numbers">
<code class="language-html" #accordion01>
  &lt;div class="accordion-grup"&gt;
    &lt;div class="accordion-main acc-reg" id="accordion01"&gt;
      &lt;div class="acc-head-static acc-head"&gt;
        &lt;div class="title"&gt;
          &lt;h2&gt;Introduction&lt;/h2&gt;
        &lt;/div&gt;
        &lt;mat-icon class="state-arrow"&gt;keyboard_arrow_down&lt;/mat-icon&gt;
      &lt;/div&gt;
      &lt;div class="acc-body"&gt;
        &lt;div class="content"&gt;
          &lt;div class="acc-cnt"&gt;
            &lt;p class="points"&gt;...&lt;/p&gt;
            &lt;p class="points"&gt;...&lt;/p&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
</code>
</pre>
  </div>
</div>
