<section class="app-module">
  <nav>
    <a routerLink="ClassicGridRoute">
      <span class="material-symbols-outlined"> package_2 </span>
      Classic Grid
    </a>
    <a routerLink="HarmonySuiteRoute">
      <span class="material-symbols-outlined"> package_2 </span>
      Harmony Suite
    </a>
    <a routerLink="LuxeSeriesRoute">
      <span class="material-symbols-outlined"> package_2 </span>
      Luxe Series
    </a>
    <a routerLink="NeoRoute">
      <span class="material-symbols-outlined"> package_2 </span>
      Neo
    </a>
    <a routerLink="SpectrumRoute">
      <span class="material-symbols-outlined"> package_2 </span>
      Spectrum
    </a>
    <a routerLink="VividEdgeRoute">
      <span class="material-symbols-outlined"> package_2 </span>
      Vivid Edge
    </a>
  </nav>

  <section class="app-module-content">
    <router-outlet></router-outlet>
  </section>
</section>
