<section class="app-module">
  <nav>
    <div>
      <a
        routerLink="AccordionRoute"
        routerLinkActive="active-a"
        #showSubTopics="routerLinkActive"
      >
        <span class="material-symbols-outlined"> view_timeline </span>
        Accordion
      </a>
      <div class="app-module-subtopics" *ngIf="showSubTopics.isActive">
        <small>Topics</small>
        <ul>
          <li><span class="material-symbols-outlined"> error </span> Intro</li>
          <li>
            <span class="material-symbols-outlined"> variable_insert </span>
            Static & Dynamic
          </li>
          <li>
            <span class="material-symbols-outlined"> aspect_ratio </span>
            Default Open
          </li>
          <li>
            <span class="material-symbols-outlined"> dashboard </span>
            Grid Type
          </li>
          <li>
            <span class="material-symbols-outlined"> dark_mode </span>
            Colour Mode
          </li>
          <li>
            <span class="material-symbols-outlined"> format_paint </span>
            Build-in Colours
          </li>
          <li>
            <span class="material-symbols-outlined"> account_tree </span>
            Structure
          </li>
        </ul>
      </div>
    </div>
    <a routerLink="ButtonRoute" routerLinkActive="active-a">
      <span class="material-symbols-outlined"> buttons_alt </span>
      Button
    </a>
    <a routerLink="CardRoute" routerLinkActive="active-a">
      <span class="material-symbols-outlined"> dashboard </span>
      Card
    </a>
    <a routerLink="DropdownRoute" routerLinkActive="active-a">
      <span class="material-symbols-outlined"> dropdown </span>
      Dropdown
    </a>
    <a routerLink="InputsRoute" routerLinkActive="active-a">
      <span class="material-symbols-outlined"> draw </span>
      Input
    </a>
    <a routerLink="MenuBarRoute" routerLinkActive="active-a">
      <span class="material-symbols-outlined"> widgets </span>
      Menubar
    </a>
    <a routerLink="NavRoute" routerLinkActive="active-a">
      <span class="material-symbols-outlined"> side_navigation </span>
      Navigation
    </a>
    <a routerLink="TableRoute" routerLinkActive="active-a">
      <span class="material-symbols-outlined"> table </span>
      Table
    </a>
    <a routerLink="TabsRoute" routerLinkActive="active-a">
      <span class="material-symbols-outlined"> tab </span>
      Tab
    </a>
  </nav>

  <section class="app-module-content">
    <router-outlet></router-outlet>
  </section>
</section>
