@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
// Package
// @import "@dev.spot/css-fusion/src/lib/scss/main.scss";
@import "../projects/css-fusion/src/lib/scss/main.scss";

@font-face {
  font-family: "Agdasima-Regular";
  src: url("./assets/fonts/Agdasima-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Agdasima-Bold";
  src: url("./assets/fonts/Agdasima-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: bold;
}

:root {
  --app-head-font: "Agdasima-Bold";
  --app-content-font: "Poppins", sans-serif;
  --app-bg-clr: #ffffff;
  --app-font-clr: #000;
  --app-active-link: #000;
  --app-btn-bg: #000;
  --app-btn-font: #ffffff;
  --app-theme-dark-bg: #0582fa;
  --app-theme-dark-font: #ffffff;
  --app-theme-light-bg: #ebf3f9;
  --app-theme-light-font: #0582fa;
  --list-card-bg: #f8f8f8;
  --list-card-font: #c9a3a3;
  --list-card-bdr: #f0f0f0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

.mat-typography h1,
.mat-typography h2,
.mat-typography h3,
.mat-typography h4,
.mat-typography h5,
.mat-typography h6 {
  margin: 0;
  padding: 0;
  font-family: var(--app-head-font);
}

.mat-typography p,
a,
button {
  margin: 0;
  padding: 0;
  font-family: var(--app-content-font);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

.mat-mdc-menu-item-text {
  font-family: var(--app-content-font) !important;
  font-weight: 500 !important;
  font-size: 1.4rem !important;
}

.mat-mdc-menu-item {
  min-height: 44px !important;
}

.cdk-overlay-pane {
  margin-top: 10px !important;
}

// App
#component-container {
  padding: 4rem;

  #component-header {
    margin-bottom: 4rem;

    h2 {
      font-size: 3.2rem;
      margin-bottom: 0.8rem;
    }

    p {
      font-weight: 500;
    }
  }

  #component-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    align-items: center;
    justify-content: start;
    gap: 4rem;

    a {
      height: 28rem;
      background-color: var(--list-card-bg);
      color: var(--list-card-font);
      border: 0.1rem solid var(--list-card-bdr);
      border-radius: 1rem;
      padding: 2rem;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 1.4rem;
      font-weight: 500;
    }
  }
}

#app-components-box {
  .app-components-intro {
    height: calc(100dvh - 6rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .card-header {
      text-align: center;

      h3 {
        font-size: 3.8rem;
        margin-bottom: 2rem;
      }

      p {
        font-size: 1.6rem;
        font-weight: 500;
        margin-bottom: 4rem;
      }
    }
  }

  .card-body {
    width: 100%;
    max-width: 70rem;
  }
}

.app-card {
  padding: 2rem 4rem;
}
