// Fonts
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

// Imports
// @import "./../node_modules/@dev.spot/css-fusion/src/lib/scss/main.scss";
@import "./../projects/css-fusion/src/lib/scss/main.scss";
@import "./assets/Styles/mixins.scss";
@import "./assets/Styles/variables.scss";

@font-face {
  font-family: "Satoshi-Bold";
  src: url("./assets/Font/Satoshi/Satoshi-Bold.otf") format("otf");
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  color: var(--font-colour);
  font-family: "Manrope", sans-serif !important;
  font-size: 1.6rem;
}

.mat-typography h1,
.mat-typography h2,
.mat-typography h3,
.mat-typography h4,
.mat-typography h5,
.mat-typography h6,
.mat-typography p {
  padding: 0;
  margin: 0;
}

#app {
  --_mesh-gradient-blur: 0px;
  --_mesh-gradient-blend-mode: normal;
  background: radial-gradient(at 11% 14%, #0e332f 0px, transparent 50%),
    radial-gradient(at 35% 10%, #0e2433 0px, transparent 50%),
    radial-gradient(at 44% 86%, #0e1233 0px, transparent 50%),
    radial-gradient(at 62% 3%, #330e12 0px, transparent 50%),
    radial-gradient(at 38% 77%, #332f0e 0px, transparent 50%) #000000;
  mix-blend-mode: var(--_mesh-gradient-blend-mode);
  filter: blur(var(--_mesh-gradient-blur));
  display: grid;
  grid-template-rows: 7.6rem 1fr;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;

  #app-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.8rem;
    position: relative;

    #app-logo {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0.6rem;
      font-size: 1.8rem;

      .material-symbols-outlined {
        color: var(--theme-colour);
      }
    }

    #app-links {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2.4rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      a {
        color: var(--font-colour);
        width: 12rem;
        height: 3.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.6rem;
        text-align: center;
        text-decoration: none;
      }

      .link-active {
        background: rgba(255, 255, 255, 0.06);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 0.15rem solid rgba(255, 255, 255, 0.097);
        border-radius: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.8rem;
        padding: 0 1.4rem;
      }
    }

    #app-btns {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      a {
        color: var(--font-colour);
        font-size: 1.8rem;
        text-decoration: none;
      }

      img {
        width: 26px;
      }

      .more-icon {
        font-size: 2.4rem !important;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0.2rem;
      }
    }
  }

  @media only screen and (max-width: 940px) {
    #app-nav {
      #app-logo {
        font-size: 1.4rem;
      }

      #app-links {
        gap: 1.8rem;

        a {
          width: 10rem;
          height: 3.4rem;
          font-size: 1.4rem;
        }
      }
    }
  }

  @media only screen and (max-width: 750px) {
    #app-nav {
      #app-links {
        display: none;
      }
    }
  }

  #app-button {
    @include blurLayer(1rem);
    width: fit-content;
    height: 3.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    padding: 0 1.4rem;
  }
}
