<main class="app-customizer">
  <section class="customizer-box">
    <!-- Toolbar -->
    <nav class="customizer-menu">
      <section class="customizer-menu-box">
        <div class="app-tools-mini">
          <span class="material-symbols-outlined"> join_right </span>
        </div>
        <div class="app-tools">
          <ng-container *ngIf="selectCompProp === 'accordion'">
            <p
              (click)="showMenus('accFields')"
              matTooltip="Accordion Fields"
              matTooltipPosition="right"
            >
              <span
                [class]="
                  showMenuName === 'accFields'
                    ? 'material-symbols-outlined active'
                    : 'material-symbols-outlined'
                "
              >
                news
              </span>
            </p>
            <p
              (click)="showMenus('accColour')"
              matTooltip="Accordion Fields"
              matTooltipPosition="right"
            >
              <span
                [class]="
                  showMenuName === 'accColour'
                    ? 'material-symbols-outlined active'
                    : 'material-symbols-outlined'
                "
              >
                format_paint
              </span>
            </p>
          </ng-container>
          <p
            (click)="showMenus('artboards')"
            matTooltip="Artboards"
            matTooltipPosition="right"
          >
            <span
              [class]="
                showMenuName === 'artboards'
                  ? 'material-symbols-outlined active'
                  : 'material-symbols-outlined'
              "
            >
              filter_frames
            </span>
          </p>
        </div>
      </section>
      <section class="customizer-menu-box">
        <span
          class="material-symbols-outlined app-tools-mini"
          (click)="toggleTheme()"
        >
          brightness_6
        </span>
        <p
          (click)="showMenus('code')"
          matTooltip="Code"
          matTooltipPosition="right"
          class="app-tools-mini"
        >
          <span
            [class]="
              showMenuName === 'code'
                ? 'material-symbols-outlined active'
                : 'material-symbols-outlined'
            "
          >
            code
          </span>
        </p>
      </section>
    </nav>

    <!-- Artboard, Canvas -->
    <section
      [ngClass]="{
        'customizer-canvas': true,
        'canvas-mobile': respoProp === 'mobile',
        'canvas-tablet': respoProp === 'tablet',
        'canvas-desktop': respoProp === 'desktop'
      }"
    >
      <ng-container *ngIf="selectCompProp === 'accordion'">
        <div class="accordion-grup">
          <ng-container *ngFor="let data of accordionForm.value.accordions">
            <div class="accordion-main">
              <div class="acc-head">
                <h2 class="acc-title">
                  <mat-icon class="acc-title-icon"> pan_tool </mat-icon>
                  {{ data.title }}
                </h2>
                <mat-icon class="state-arrow">keyboard_arrow_down</mat-icon>
              </div>
              <div class="acc-body">
                <div class="acc-content">
                  <p>
                    {{ data.content }}
                  </p>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>

      <ng-container *ngIf="selectCompProp === 'button'">
        <button type="button">Click</button>
      </ng-container>
    </section>

    <!-- Menus -->
    <form class="customizer-editor" *ngIf="showMenuForm">
      <!-- Accordion -->
      @if (showMenuName === 'accFields') {
      <div class="tools-box">
        <header>
          <p>
            <span class="material-symbols-outlined"> news </span>
            Fields
          </p>
        </header>
        <div class="tools-grid">
          <form
            class="grid02-expand"
            [formGroup]="accordionForm"
            (ngSubmit)="onSubmit()"
          >
            <div formArrayName="accordions">
              <div
                *ngFor="let accordion of accordions.controls; let i = index"
                [formGroupName]="i"
                class="acc-field-container"
              >
                <p>{{ "Accordion 0" + (i + 1) }}</p>
                <input
                  formControlName="title"
                  type="text"
                  placeholder="Title"
                />
                <textarea
                  formControlName="content"
                  placeholder="Content"
                ></textarea>
                <button
                  class="customizer-btn"
                  type="button"
                  (click)="removeAccordion(i)"
                >
                  <span class="material-symbols-outlined"> delete </span>
                </button>
              </div>
            </div>
          </form>
          <div class="grid02-expand acc-btn-container">
            <button
              class="customizer-btn"
              type="button"
              (click)="addAccordion()"
            >
              <span class="material-symbols-outlined"> add </span>
            </button>
            <button class="customizer-btn" type="button" (click)="onSubmit()">
              <span class="material-symbols-outlined"> send </span>
            </button>
          </div>
        </div>
      </div>
      } @if (showMenuName === 'accColour') {
      <div class="tools-box">
        <header>
          <p>
            <span class="material-symbols-outlined"> news </span>
            Colour
          </p>
        </header>
        <div class="tools-grid">
          <div class="grid02-expand"></div>
        </div>
      </div>
      }

      <!-- Common -->
      @if (showMenuName === 'code') {
      <div class="tools-box">
        <header>
          <p>
            <span class="material-symbols-outlined"> code </span>
            Code
          </p>
        </header>
        <div class="tools-code"></div>
      </div>
      } @if (showMenuName === 'artboards') {
      <div class="tools-box">
        <header>
          <p>
            <span class="material-symbols-outlined"> filter_frames </span>
            Frames
          </p>
        </header>
        <div class="tools-grid">
          <div class="grid02 frame-items" (click)="respoScreen('mobile')">
            <span class="material-symbols-outlined"> phone_iphone </span>
            <label>Phone</label>
          </div>
          <div class="grid02 frame-items" (click)="respoScreen('tablet')">
            <span class="material-symbols-outlined"> tablet_mac </span>
            <label>Tablet</label>
          </div>
          <div
            class="grid02-expand frame-items"
            (click)="respoScreen('desktop')"
          >
            <span class="material-symbols-outlined"> laptop_mac </span>
            <label>Desktop</label>
          </div>
        </div>
      </div>
      }
    </form>
  </section>

  <!-- Popup -->
  <section
    class="cusromizer-popup"
    *ngIf="
      accordionForm.value.accordions[0].title === '' ||
      accordionForm.value.accordions[0].content === '' ||
      closePopup
    "
  >
    <div class="cus-popup-box">
      <header class="cus-popup-head">
        <h3>Select component</h3>
      </header>
      <div class="cus-popup-body">
        <!-- Accordion -->
        <div class="popup-card" (click)="selectComp('accordion')">
          <div class="popup-demo">
            <div class="accordion-grup">
              <div class="accordion-main accordion-blue">
                <div class="acc-head">
                  <h3 class="acc-title">Introduction</h3>
                  <mat-icon class="state-arrow">keyboard_arrow_down</mat-icon>
                </div>
                <div class="acc-body">
                  <div class="acc-content">
                    <p>
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Eius, minima?
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="popup-content">
            <p>Accordion</p>
            <small
              >Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Assumenda, quia!</small
            >
          </div>
        </div>

        <!-- Button -->
        <div class="popup-card" (click)="selectComp('button')">
          <div class="popup-demo">
            <button>Click</button>
          </div>
          <div class="popup-content">
            <p>Button</p>
            <small
              >Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Assumenda, quia!</small
            >
          </div>
        </div>

        <!-- Table -->
        <div class="popup-card" (click)="selectComp('table')">
          <div class="popup-demo">
            <button>Click</button>
          </div>
          <div class="popup-content">
            <p>Table</p>
            <small
              >Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Assumenda, quia!</small
            >
          </div>
        </div>

        <ng-container *ngIf="selectCompProp === 'accordion'">
          <div class="accordion-fields">
            <header>
              <p>
                <span class="material-symbols-outlined"> news </span>
                Accordion Fields ({{ accordionForm.value.accordions.length }})
              </p>
              <div class="grid02-expand acc-btn-container">
                <button
                  class="customizer-btn"
                  type="button"
                  (click)="addAccordion()"
                >
                  <span class="material-symbols-outlined"> add </span>
                </button>
                <button
                  class="customizer-btn"
                  type="button"
                  (click)="onSubmit()"
                >
                  <span class="material-symbols-outlined"> send </span>
                </button>
              </div>
            </header>
            <div>
              <form
                class="grid02-expand"
                [formGroup]="accordionForm"
                (ngSubmit)="onSubmit()"
              >
                <div formArrayName="accordions">
                  <div
                    *ngFor="let accordion of accordions.controls; let i = index"
                    [formGroupName]="i"
                    class="acc-field-container"
                  >
                    <div class="accordion-count">
                      <p>{{ "Accordion 0" + (i + 1) }}</p>
                      <button
                        class="customizer-btn"
                        type="button"
                        (click)="removeAccordion(i)"
                      >
                        <span class="material-symbols-outlined"> delete </span>
                      </button>
                    </div>
                    <input
                      formControlName="title"
                      type="text"
                      placeholder="Title"
                    />
                    <textarea
                      formControlName="content"
                      placeholder="Content"
                    ></textarea>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </section>
</main>
