<section id="app-home">
  <div class="set-01">
    <h2>A Modern CSS Utility Library</h2>
    <p>
      CSSFusion is a versatile and lightweight CSS utility library distributed
      via npm. It provides a rich set of prebuilt classes and customizable tools
      to simplify and speed up the styling of your web projects.
    </p>
    <div class="install-kit">
      <div>
        <small>Installation Kit</small>
        <p>npm i &#64;dev.spot/css-fusion</p>
      </div>
      <span class="material-symbols-outlined"> content_paste </span>
    </div>
  </div>

  <div class="set-02">
    <div class="screen-01">
      <div class="screen-01-nav">
        <p>File</p>
        <p>Code</p>
        <p>Selection</p>
        <p>View</p>
        <p>Go</p>
        <p>Run</p>
        <p>Terminal</p>
        <span class="material-symbols-outlined"> more_horiz </span>
      </div>

      <div class="screen-01-body">
        <nav>
          <span class="material-symbols-outlined nav-icon-selected">
            file_copy
          </span>
          <span class="material-symbols-outlined"> search </span>
          <span class="material-symbols-outlined"> graph_1 </span>
          <span class="material-symbols-outlined"> bug_report </span>
          <span class="material-symbols-outlined"> note_stack </span>
        </nav>

        <aside>
          <p class="aside-title">Explore</p>
          <details open>
            <summary>Project</summary>
            <details class="detail-ml" open>
              <summary>src</summary>
              <details class="detail-ml" open>
                <summary>app</summary>
                <p>
                  <span class="material-symbols-outlined"> data_object </span>
                  app-routing.module.ts
                </p>
                <p>
                  <span class="material-symbols-outlined"> code </span>
                  app.component.html
                </p>
                <p>
                  <span class="material-symbols-outlined"> data_object </span>
                  app.component.scss
                </p>
                <p>
                  <span class="material-symbols-outlined"> data_object </span>
                  app.component.ts
                </p>
                <p>
                  <span class="material-symbols-outlined"> data_object </span>
                  app.module.ts
                </p>
                <details class="detail-ml" open>
                  <summary>assets</summary>
                </details>
              </details>
              <p>
                <span class="material-symbols-outlined"> data_object </span>
                style.scss
              </p>
              <p>
                <span class="material-symbols-outlined"> code </span>
                index.html
              </p>
            </details>
          </details>
        </aside>

        <div class="left-tab">
          <div class="tab">
            <p>
              <span class="material-symbols-outlined"> data_object </span>
              package.json
            </p>
            <span class="material-symbols-outlined"> close </span>
          </div>
        </div>

        <div class="right-tab">
          <div class="tab">
            <p>
              <span class="material-symbols-outlined"> data_object </span>
              style.scss
            </p>
            <span class="material-symbols-outlined"> close </span>
          </div>
        </div>
      </div>

      <div class="screen-01-cdm"></div>
    </div>

    <div class="screen-02">
      <div class="screen-tab">
        <div class="tab-01">
          <p>
            <span class="material-symbols-outlined"> join_right </span>
            Home
          </p>
        </div>
        <div class="tab-02">
          <p>
            <span class="material-symbols-outlined"> travel_explore </span> New
            Tab
          </p>
        </div>
        <span class="material-symbols-outlined tab-add"> add </span>
      </div>

      <div class="screen-menu-bar">
        <span class="material-symbols-outlined"> arrow_back </span>
        <span class="material-symbols-outlined"> arrow_forward </span>
        <span class="material-symbols-outlined"> refresh </span>
        <div class="screen-search">
          <div>
            <span class="material-symbols-outlined"> error </span>
            <p>sids-projects.github.io/CSSFusion</p>
          </div>
          <span class="material-symbols-outlined"> star </span>
        </div>
        <span class="material-symbols-outlined"> extension </span>
        <span class="material-symbols-outlined"> settings </span>
        <span class="material-symbols-outlined"> admin_panel_settings </span>
        <span class="search-bdr-right"></span>
        <span class="material-symbols-outlined"> face </span>
        <span class="material-symbols-outlined"> more_vert </span>
      </div>

      <div class="screen-app">
        <div class="screen-left-nav">
          <p>
            <span class="material-symbols-outlined"> crisis_alert </span>
            Logo
          </p>

          <div>
            <small>Menus</small>
            <p class="screen-nav-active">
              <span class="material-symbols-outlined"> home </span> Home
            </p>
            <p>
              <span class="material-symbols-outlined"> select_window_2 </span>
              Screens
            </p>
            <p>
              <span class="material-symbols-outlined">
                highlight_text_cursor
              </span>
              About
            </p>
            <p>
              <span class="material-symbols-outlined"> table_view </span>
              Summary
            </p>
          </div>
        </div>
        <div class="screen-app-body">
          <nav>
            <span class="material-symbols-outlined"> menu </span>
            <div>
              <span class="material-symbols-outlined"> login </span>
              <span class="material-symbols-outlined"> account_circle </span>
            </div>
          </nav>
          <div class="screen-app-input">
            <input type="text" placeholder="Name" />
            <input type="text" placeholder="Date" />
            <button>
              <span class="material-symbols-outlined"> add </span>
            </button>
            <button>
              <span class="material-symbols-outlined"> filter_alt </span>
            </button>
          </div>
          <div class="screen-app-table">
            <div>
              <table>
                <thead>
                  <tr>
                    <th>SI.No</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Peter</td>
                    <td>10 - 01 - 2024</td>
                    <td>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Amet, asperiores!
                    </td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Peter</td>
                    <td>10 - 01 - 2024</td>
                    <td>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Amet, asperiores!
                    </td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Peter</td>
                    <td>10 - 01 - 2024</td>
                    <td>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Amet, asperiores!
                    </td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>Peter</td>
                    <td>10 - 01 - 2024</td>
                    <td>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Amet, asperiores!
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
