<section class="home-container">
  <nav id="app-nav">
    <div id="app-logo">
      <span class="material-symbols-outlined"> join_right </span>
      <p>CSSFusion</p>
    </div>
    <div id="app-links">
      <a class="link-active">Home</a>
      <a (click)="redirect('CompsRouting')" routerLinkActive="link-active"
        >Components</a
      >
      <a (click)="redirect('TempsRouting')" routerLinkActive="link-active"
        >Templates</a
      >
      <a (click)="redirect('CustomizerRouting')" routerLinkActive="link-active">
        Customizer
      </a>
    </div>
    <div id="app-btns">
      <span
        class="material-symbols-outlined more-icon"
        [matMenuTriggerFor]="menu"
      >
        expand_circle_down
      </span>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="redirect('CompsRouting')">
          Components
        </button>
        <button mat-menu-item (click)="redirect('TempsRouting')">
          Templates
        </button>
        <button mat-menu-item (click)="redirect('CustomizerRouting')">
          Customizer
        </button>
      </mat-menu>
      <a href="https://sids-projects.github.io/DevSpot/#/home" target="_blank">
        <span class="material-symbols-outlined"> error </span>
      </a>
      <span
        class="material-symbols-outlined colour-mode"
        (click)="toggleTheme()"
      >
        brightness_6
      </span>
    </div>
  </nav>

  <section id="app-home">
    <div class="set-01">
      <h2>A Modern CSS Utility Library</h2>
      <p class="set-01-desc">
        CSSFusion is a versatile and lightweight CSS utility library distributed
        via npm. It provides a rich set of prebuilt classes and customizable
        tools to simplify and speed up the styling of your web projects.
      </p>
      <div class="install-kit">
        <div>
          <small>Installation Kit</small>
          <p>npm i &#64;dev.spot/css-fusion</p>
        </div>
        <span class="material-symbols-outlined"> content_paste </span>
      </div>
      <div class="social-links">
        <a href="https://github.com/Sids-projects/CSSFusion" target="_blank">
          <p>Github</p>
          <img
            [src]="
              !isDarkMode
                ? './assets/Github-Icon1-light.svg'
                : './assets/Github-Icon1.svg'
            "
            alt="Github Icon"
          />
        </a>
        <a
          href="https://www.npmjs.com/package/@dev.spot/css-fusion"
          target="_blank"
        >
          <p>NPM</p>
          <img
            [src]="
              !isDarkMode
                ? './assets/NPM-Icon-light.svg'
                : './assets/NPM-Icon.svg'
            "
            alt="Github Icon"
          />
        </a>
      </div>
      <p class="sec-01-scrollTxt">
        <span class="material-symbols-outlined"> expand_circle_down </span>
        Scroll Down
      </p>
    </div>

    <div class="set-02">
      <div class="set-02-content">
        <h3>Get Started with CSSFusion</h3>
        <ul>
          <li>
            <span class="material-symbols-outlined">
              radio_button_checked
            </span>
            Install via npm
          </li>
          <li>
            <span class="material-symbols-outlined">
              radio_button_checked
            </span>
            npm i &#64;dev.spot/css-fusion
          </li>
          <li>
            <span class="material-symbols-outlined">
              radio_button_checked
            </span>
            Import the main SCSS file into your project
          </li>
          <li>
            <span class="material-symbols-outlined">
              radio_button_checked
            </span>
            &#64;import "&#64;dev.spot/css-fusion/src/lib/scss/main.scss";
          </li>
          <li>
            <span class="material-symbols-outlined">
              radio_button_checked
            </span>
            Include the components in your JavaScript/TypeScript files
          </li>
          <li>
            <span class="material-symbols-outlined">
              radio_button_checked
            </span>
            import &#123; Component &#125; from '&#64;dev.spot/css-fusion';
          </li>
          <li>
            <span class="material-symbols-outlined">
              radio_button_checked
            </span>
            Copy Html & Ts
          </li>
        </ul>
      </div>
      <app-vs-code></app-vs-code>
    </div>

    <div class="set-03">
      <div class="card-content">
        <h3>Explore the Modules in CSSFusion</h3>
        <p>
          CSSFusion provides everything you need to create stylish, modern, and
          responsive web applications. Below are the main modules available in
          the project:
        </p>
      </div>
      <div class="cards-container">
        <div class="card-01">
          <div>
            <h3>Components</h3>
            <p>
              Build your UI effortlessly with pre-styled components like
              accordions, buttons, dropdowns, and more. Simply copy the provided
              HTML and, for components with functionality like dropdowns,
              include the accompanying TypeScript files.
            </p>
          </div>
          <app-comps-card></app-comps-card>
        </div>

        <div class="card-02">
          <div>
            <h3>Templates</h3>
            <p>
              Assemble beautiful templates using CSSFusion components. These
              templates are pre-designed with SCSS variables, allowing you to
              customize and apply different themes seamlessly to your
              application.
            </p>
          </div>
          <app-temps-card></app-temps-card>
        </div>

        <div class="card-03">
          <div>
            <h3>Customizer</h3>
            <p>
              Customize components like accordions or buttons with a
              Figma-inspired toolset. Select any component and style it to fit
              your vision with text formatting, shadow effects, dimensions, and
              more.
            </p>
          </div>
          <app-customizer-card></app-customizer-card>
        </div>
      </div>
    </div>

    <footer>
      <div class="footer-container">
        <div>
          <h3>Quick Links</h3>
          <ul>
            <li>
              <span class="material-symbols-outlined"> category </span>
              Components
            </li>
            <li>
              <span class="material-symbols-outlined"> select_window </span>
              Templates
            </li>
            <li>
              <span class="material-symbols-outlined"> ink_highlighter </span>
              Customiser
            </li>
            <li>
              <span class="material-symbols-outlined"> book </span>
              Documentation
            </li>
          </ul>
        </div>
        <div>
          <h3>Social Links</h3>
          <ul>
            <li>
              <img
                [src]="
                  !isDarkMode
                    ? './assets/Github-Icon2-light.svg'
                    : './assets/Github-Icon2.svg'
                "
                alt="GitHub Icon"
              />GitHub
            </li>
            <li>
              <img
                [src]="
                  !isDarkMode
                    ? './assets/NPM-Icon-light.svg'
                    : './assets/NPM-Icon.svg'
                "
                alt="NPM Icon"
              />npm
            </li>
            <li>
              <img
                [src]="
                  !isDarkMode
                    ? './assets/Linkedin-Icon-light.svg'
                    : './assets/Linkedin-Icon.svg'
                "
                alt="NPM Icon"
              />LinkedIn
            </li>
            <li>
              <img
                [src]="
                  !isDarkMode
                    ? './assets/Twitter-Icon-light.svg'
                    : './assets/Twitter-Icon.svg'
                "
                alt="NPM Icon"
              />Twitter
            </li>
          </ul>
        </div>
        <div class="footer-set-03">
          <span class="material-symbols-outlined"> join_right </span>
          <h3>Credits</h3>
          <p>Designed and Developed <br />by Siddarth.G</p>
        </div>
      </div>
    </footer>
  </section>
</section>
