<div class="vs-code-container">
  <div class="vs-code">
    <div class="vs-code-nav">
      <p>File</p>
      <p>Code</p>
      <p>View</p>
      <p>Run</p>
      <p>Terminal</p>
      <span class="material-symbols-outlined"> more_horiz </span>
    </div>

    <div class="vs-code-body">
      <nav>
        <span class="material-symbols-outlined nav-icon-selected">
          file_copy
        </span>
        <span class="material-symbols-outlined"> search </span>
        <span class="material-symbols-outlined"> graph_1 </span>
        <span class="material-symbols-outlined"> bug_report </span>
        <span class="material-symbols-outlined"> note_stack </span>
      </nav>

      <aside>
        <p class="aside-title">Explore</p>
        <details open>
          <summary>Project</summary>
          <details class="detail-ml" open>
            <summary>src</summary>
            <details class="detail-ml" open>
              <summary>app</summary>
              <p>
                <span class="material-symbols-outlined"> data_object </span>
                app-routing.module.ts
              </p>
              <p>
                <span class="material-symbols-outlined"> code </span>
                app.component.html
              </p>
              <p>
                <span class="material-symbols-outlined"> data_object </span>
                app.component.scss
              </p>
              <p>
                <span class="material-symbols-outlined"> data_object </span>
                app.component.ts
              </p>
              <p>
                <span class="material-symbols-outlined"> data_object </span>
                app.module.ts
              </p>
              <details class="detail-ml" open>
                <summary>assets</summary>
              </details>
            </details>
            <p class="vs-active">
              <span class="material-symbols-outlined"> data_object </span>
              package.scss
            </p>
            <p class="vs-active">
              <span class="material-symbols-outlined"> code </span>
              style.html
            </p>
          </details>
        </details>
      </aside>

      <section>
        <div class="left-tab">
          <div class="tab">
            <p>
              <span class="material-symbols-outlined"> data_object </span>
              package.json
            </p>
            <span class="material-symbols-outlined"> close </span>
          </div>

          <div class="left-tab-body">
            <p>&#123;</p>
            <p>&nbsp;&nbsp; "name": "Project-01",</p>
            <p>&nbsp;&nbsp; "version": "0.0.0",</p>
            <p>&#125;</p>
            <p>"dependencies": &#123;</p>
            <p class="left-tab-highlight">
              &nbsp;&nbsp;&nbsp;"&#64;dev.spot/css-fusion": "^0.0.1",
            </p>
            <p>&#125;</p>
          </div>
        </div>

        <div class="right-tab">
          <div class="tab">
            <p>
              <span class="material-symbols-outlined"> data_object </span>
              style.scss
            </p>
            <span class="material-symbols-outlined"> close </span>
          </div>
          <div class="right-tab-body">
            <p>
              "&#64;import
              <span class="left-tab-highlight"
                >"./../node_modules/&#64;dev.spot/css-fusion/src/lib/scss/main.scss";</span
              >
            </p>
          </div>
        </div>
      </section>
    </div>

    <div class="vs-code-cdm">
      <div class="cdn-tabs">
        <div class="cdn-tab-links">
          <p>Debug</p>
          <p class="active-cdn-tab">Terminal</p>
          <p>Port</p>
        </div>
        <div class="cdn-tab-icons">
          <p>Node</p>
          <span class="material-symbols-outlined"> terminal </span>
          <span class="material-symbols-outlined"> delete </span>
          <span class="material-symbols-outlined"> more_horiz </span>
          <span class="material-symbols-outlined"> close </span>
        </div>
      </div>
      <div class="cnd-body">
        <p>
          Peter-Macbook Project-01 %
          <span class="vs-active">npm install &#64;dev.spot/css-fusion</span>
        </p>
        <p>added 1 package, and audited 971 packages in 4s</p>
        <p>122 packages are looking for funding</p>
        <p>run `npm fund` for details</p>
        <p>found 0 vulnerabilities</p>
      </div>
    </div>
  </div>
</div>
